name: usb_serial
description: Android only version of usb_serial plugin without iOS.

version: 0.5.2+android

publish_to: none

environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: dev.bessems.usbserial
        pluginClass: UsbSerialPlugin
